* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.header-container {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    flex-direction: column;
}

.nav-bar {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    padding: 0.5rem 10rem;
    margin-bottom: 3rem;
}

.hero-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 0.5rem 10rem;
    margin-bottom: 3rem;
    justify-content: space-between;
}

.hero-content {
    display: flex;
    flex-flow: column;
    gap: 1rem;
    max-width: 400px;
    justify-content: space-between;
}

.hero-text {
    font-size: 3rem;
    font-weight: bolder;
}

.branding {
    font-size: 1.5rem;
}

.hero-secondary-text,
li {
    font-size: 1rem;
    color: #E5E7EB;
}

p {
    margin: 0;
    padding: 0;
}

.outside {
    border: 1px solid #E5E7EB;
    border-radius: 0.5rem;
}

a {
    color: #E5E7EB;
    text-decoration: none;
}

ul {
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
    list-style: none;
    max-width: 300px;
}

.btn-hero {
    flex: 0 0 auto;
    align-self: flex-start;
    padding: 0.25rem 1rem;
    border-radius: 0.5rem;
    margin-top: 0.5rem;
    text-align: center;
    background-color: #3882F6;
}

.information-text {
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
    color: #1F2937;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.information-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
    margin-bottom: 2.5rem;
}

.card {
    flex: 0 0 300px;
    text-align: center;
}

.card-img {
    width: 100%;
    height: 70%;
    border: 2px solid #1F2937;
    border-radius: 0.5rem;
}

.card-text {
    font-size: 1rem;
    text-align: center;
    margin: 0;
    padding: 0;
}

.quote-container {
    background-color: #E5E7EB;
    color: #1F2937;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 3rem 1rem;
}

.quote-text {
    font-size: 1.5rem;
    max-width: 700px;
}

.quote-author {
    font-size: 1.2rem;
    font-weight: bolder;
    text-align: end;
    width: 33%;
}

.sign-up-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 1rem;
}

.sign-up-box {
    flex: 1 1 auto;
    gap: 1rem;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 15rem;
    padding: 3rem 7rem;
}

.sign-up-text {
    min-width: 200px
}

.sign-up-text-big {
    font-size: 1.25rem;
    font-weight: bolder;
}

.btn-sign-up {
    flex: 0 0 auto;
    padding: 0.25rem 1rem;
    border: 2px solid white;
    border-radius: 0.5rem;
    text-align: center;
}

.footer-container {
    background-color: #1F2937;
    color: #F9FAF8;
    text-align: center;
    padding: 1.75rem;
}